/////////////////////////////////////////////
//               SCROLLBAR
/////////////////////////////////////////////

.scrollbar-container {
  .ps__rail-x {
    display: none;
  }
  .ps__rail-y {
    .mixin-rounded(10px);
    .ps__thumb-y {
      width: 5px;
    }
    &:hover {
      width: 14px;
      .ps__thumb-y {
        width: 10px;
      }
    }
  }
}


.scrollbar-container {
  .ps__rail-y {
    &,
    &:hover {
      background: none;
    }
    .ps__thumb-y {
      background: fade(@color-gray-darker, 35%);
    }
  }
}